.main-footer {
    position: relative;
    z-index: 50;
    background-color: var(--color-teal-dark);
    padding: 13.5rem 0 4rem 0;
    margin-top: auto;
    color: white;
}

@media (max-width: 767px) {
    .main-footer {
        padding-top: 4rem;
        /* Reset to standard padding */
    }
}